
#bottom {
background-color:#0276FD;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
   height:48px;
}
#button1 {
color:white;
text-align:center;
background-color:#0276FD;
width:100px;
height:75px;
 }
 #button1:hover {
 color:#FFFF00;
 background-color:#0000B2 }